<app-header></app-header>
<!-- we will add header here-->
<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100">
    <div class="row" style="background: white">
      <div class="col-lg-12 pr-0">
        <div class="row">
          <div class="col-md-10">
            <mat-card-title  style="padding-left:15px"> Users
              <i (click)="creatUserList()" class="float-r fas fa-plus-circle fa-1x add-btn text-green cursor-pointer"
                 matTooltip="Users"
                 matTooltipPosition="above"></i>
            </mat-card-title>
          </div>
        </div>

        <div class="responsive-table add_user_list">
          <table [dtOptions]="dtOptions" class="display table table-striped table-bordered" datatable
                 style="width:100%;">
            <thead>


            <tr>
              <th nowrap>FirstName</th>
              <th nowrap>LastName</th>
              <th nowrap>Email</th>
              <th nowrap>Phone Number</th>
              <th nowrap>Profile Image</th>
            </tr>
            </thead>
            <tbody *ngIf="userList && userList.length > 0">
            <tr *ngFor="let userDetail of userList; let i = index;">
              <td nowrap>


                <a class="mod-letter" (click)="[updateUserList(userDetail)]">
                    <span style="cursor: pointer;">
                      <i class="fa fa-pencil fonts approve" matTooltip="Update "></i>
                    </span></a>
              
                <a class="mod-letter" (click)="deleteUser(userDetail)"  >
                    <span style="cursor: pointer;">
                      <i class="fa fa-trash fonts approve" matTooltip="Delete"></i>
                    </span></a>


                <span style="padding-left: 10px;"> {{userDetail.firstName}}</span>
              </td>
              <td>
                  <span>
                    {{userDetail.lastName}}
                  </span>
              </td>
              <td>
                  <span>
                    {{userDetail.email}}
                  </span>
              </td>
              <td>
                  <span>
                    {{userDetail.phoneNumber}}
                  </span>
              </td>
              <td>
                  <span>
                    <!-- http://localhost:3000/uploads/1677995075966.png -->
                    <img [src]="'http://localhost:3000/uploads/' + userDetail.profileImage"
                     class="rounded-circle" style="width: 30px; height: 30px;">
                  </span>
              </td>
            </tr>
            </tbody>
            <tbody *ngIf="userList && userList.length == 0">
            <tr>
              <td class="no-data-available" colspan="10">Pas de données....</td>
            </tr>
            <tbody>
          </table>
        </div>
        <ng-template>
          <span class="spinner-icon" [matTooltip]="'En cours'" class="label label-green">
            <i class="fas fa-spinner fa-pulse"></i>
          </span>
        </ng-template>

      </div>
    </div>
  </div>
</div>



<div #add_user_list="bs-modal" aria-labelledby="dialog-static-name" bsModal class="modal fade" role="dialog"
     tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-md" style=" overflow-y: hidden; ">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title pull-left model-header-content text-header" id="dialog-static-name">
          <span > User Form</span>
        
         
        </span>
        <button (click)="add_user_list.hide()" aria-label="Close" class="close pull-right" type="reset">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div *ngIf="selectedImage" class="mt-2">
              <img [src]="selectedImage" class="rounded-circle" style="width: 100px; height: 100px;">
            </div>
            
            <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
              <div class="form-group" [ngClass]="{'has-error': registerForm.controls.firstName?.invalid && registerForm.controls.firstName?.touched}">
                <label for="firstName">First Name *</label>
                <input type="text" class="form-control" id="firstName" name="firstName" formControlName="firstName" required>
                <div *ngIf="registerForm.controls.firstName?.errors?.required && registerForm.controls.firstName?.touched" class="form-control-feedback">
                  First name is required
                </div>
              </div>
          
              <div class="form-group" [ngClass]="{'has-error': registerForm.controls.lastName?.invalid && registerForm.controls.lastName?.touched}">
                <label for="lastName">Last Name *</label>
                <input type="text" class="form-control" id="lastName" name="lastName"formControlName="lastName" required>
                <div *ngIf="registerForm.controls.lastName?.errors?.required && registerForm.controls.lastName?.touched" class="form-control-feedback">
                  Last name is required
                </div>
              </div>
          
              <div class="form-group" [ngClass]="{'has-error': (registerForm.controls.email?.invalid && registerForm.controls.email?.touched) || (registerForm.controls.email?.dirty && registerForm.controls.email?.invalid)}">
                <label for="email">Email *</label>
                <input type="email" class="form-control" id="email" name="email" formControlName="email" required email>
                <div *ngIf="registerForm.controls.email?.errors?.required && registerForm.controls.email?.touched" class="form-control-feedback">
                  Email is required
                </div>
                <div *ngIf="registerForm.controls.email?.errors?.email && registerForm.controls.email?.touched" class="form-control-feedback">
                  Please enter a valid email address
                </div>
              </div>
          
              <div class="form-group" [ngClass]="{'has-error': registerForm.controls.phoneNumber?.invalid && registerForm.controls.phoneNumber?.touched}">
                <label for="phoneNumber">Phone Number *</label>
                <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber" pattern="^[0-9]{10}$" required>
                <div *ngIf="registerForm.controls.phoneNumber?.errors?.required && registerForm.controls.phoneNumber?.touched" class="form-control-feedback">
                  Phone number is required
                </div>
                <div *ngIf="registerForm.controls.phoneNumber?.errors?.pattern && registerForm.controls.phoneNumber?.touched" class="form-control-feedback">
                  Please enter a valid phone number (10 digits)
                </div>
              </div>
          
              <div class="form-group">
                <label for="profileImage">Profile Image</label>
                <input type="file"  #fileInput class="form-control-file" id="profileImage" name="profileImage" (change)="[ onImageSelected($event)]">
              </div>
            </form>
          
        </div>
        <div class="row m-t-20">
          <div class="col-md-12" style="text-align:center;">
            <button (click)="onSubmit()" 
                    class="btn btn-raised btn-primary btn-add button btn-confirm"
                    color="green" type="submit">Confirmer
            </button>
           
           
           

          </div>
        </div>
      </div>
    </div>
  </div>
</div>