<div class="form-container">
  <h2>Register</h2>
  
  <div *ngIf="selectedImage" class="mt-2">
    <img [src]="selectedImage" class="rounded-circle" style="width: 100px; height: 100px;">
  </div>
  
  <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
    <div class="form-group" [ngClass]="{'has-error': registerForm.controls.firstName?.invalid && registerForm.controls.firstName?.touched}">
      <label for="firstName">First Name *</label>
      <input type="text" class="form-control" id="firstName" name="firstName" formControlName="firstName" required>
      <div *ngIf="registerForm.controls.firstName?.errors?.required && registerForm.controls.firstName?.touched" class="form-control-feedback">
        First name is required
      </div>
    </div>

    <div class="form-group" [ngClass]="{'has-error': registerForm.controls.lastName?.invalid && registerForm.controls.lastName?.touched}">
      <label for="lastName">Last Name *</label>
      <input type="text" class="form-control" id="lastName" name="lastName"formControlName="lastName" required>
      <div *ngIf="registerForm.controls.lastName?.errors?.required && registerForm.controls.lastName?.touched" class="form-control-feedback">
        Last name is required
      </div>
    </div>

    <div class="form-group" [ngClass]="{'has-error': (registerForm.controls.email?.invalid && registerForm.controls.email?.touched) || (registerForm.controls.email?.dirty && registerForm.controls.email?.invalid)}">
      <label for="email">Email *</label>
      <input type="email" class="form-control" id="email" name="email" formControlName="email" required email>
      <div *ngIf="registerForm.controls.email?.errors?.required && registerForm.controls.email?.touched" class="form-control-feedback">
        Email is required
      </div>
      <div *ngIf="registerForm.controls.email?.errors?.email && registerForm.controls.email?.touched" class="form-control-feedback">
        Please enter a valid email address
      </div>
    </div>

    <div class="form-group" [ngClass]="{'has-error': registerForm.controls.phoneNumber?.invalid && registerForm.controls.phoneNumber?.touched}">
      <label for="phoneNumber">Phone Number *</label>
      <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber" pattern="^[0-9]{10}$" required>
      <div *ngIf="registerForm.controls.phoneNumber?.errors?.required && registerForm.controls.phoneNumber?.touched" class="form-control-feedback">
        Phone number is required
      </div>
      <div *ngIf="registerForm.controls.phoneNumber?.errors?.pattern && registerForm.controls.phoneNumber?.touched" class="form-control-feedback">
        Please enter a valid phone number (10 digits)
      </div>
    </div>

    <div class="form-group">
      <label for="profileImage">Profile Image</label>
      <input type="file"  #fileInput class="form-control-file" id="profileImage" name="profileImage" (change)="[onFileUpload(), onImageSelected($event)]">
    </div>
    
    <div class="form-group" [ngClass]="{'has-error': registerForm.controls.password?.invalid && registerForm.controls.password?.touched }">
      <label for="password">Password *</label>
      <input type="password" class="form-control" id="password" name="password" formControlName="password" required>
      <div *ngIf="registerForm.controls.password?.errors?.required && registerForm.controls.password.touched">
        Password is required
      </div>
      
      <span class="help-block form-error text-danger small"  *ngIf = "registerForm.controls['password'].errors?.minlength &&
      registerForm.controls['password'].touched">Minimum 12 Characters required</span>
    </div>
    
   

    <button type="submit" class="btn btn-primary">Submit</button>
    <a routerLink="/login" class="btn btn-secondary">Already have an account? Login here</a>
  </form>
</div>
